<!-- <div [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>Phone number</mat-label>
        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint>Include area code</mat-hint>
    </mat-form-field>
</div>
<mat-form-field>
    <input placeholder="Id" formControlName="id" matInput type="text">
</mat-form-field> -->

<mat-form-field>
    <input matInput placeholder="Search" [formControl]="searchText">
  </mat-form-field>
  <button mat-raised-button (click)="search()">enviar</button>
---{{ searchText }}---

<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
          <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
          <span>{{ state.name }}</span> |
          <small>Population: {{state.population}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  
    <br />
  
    <mat-slide-toggle
      [checked]="stateCtrl.disabled"
      (change)="stateCtrl.disabled ? stateCtrl.enable() : stateCtrl.disable()">
      Disable Input?
    </mat-slide-toggle>
  </form>